label{
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 20px;
    background: green;
    color: white;
}

input[type="checkbox"].on-off{
    display:none;
}

.menu ul{
    transition: .50s ease-in-out;
    -webkit-transform: translateY(0%);
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li{
    background: red;
    height: 100px;
    width: 500px;
    padding: 5px;
}

.cat ~.list{
    height: 0;
    overflow: hidden;
}
.cat:checked ~.list{
    height: 1100px;
}
.cat{
    border: solid;
}