label {
    background: green;
    color: #fff;
    padding: 10px;
    display: block;
    margin: 0;
    border: 1px solid #fff;
}

input[type="checkbox"].on-off{
    display: none;
}

.menu ul {
    transition: .3s ease-in-out;
    -webkit-transform: translateY(0%);
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    background: yellow;
    height: 200px;
    padding: 5px;
    border: solid;
}

input[type="checkbox"].on-off + ul{
    height: 0;
    overflow: hidden;
}

input[type="checkbox"].on-off:checked + ul{
    height: 1200px;
}