.header{
      margin: 0 auto;
      height: 60px;
      line-height: 60px;
      text-align: center;
      width: 1000px;
      background: pink
}


.nav{ margin: 0 auto;
          width: 1000px;
     padding: 0;}

ul {
          height: 30px;
          line-height: 30px;
          list-style: none;
          margin-left: -40px;
          text-align: center;
          margin-top: 0px;
          margin-bottom: 0px;
          
          
}
li { float:left;
      width: 250px;
      background: green;}


input[type="checkbox"].on-off{
    display: none;
}
.clear{ clear: left;}
.maingazo{
          margin: 0 auto;
          height: 300px;
          width: 1000px;
          background: lightgray;
          
}

/* ウィンドウ幅が0〜479pxの場合に適用するCSS */
@media screen and ( max-width:479px )
{
    .header{ width:479px;}
          
    
label {
    float: right;
    background: green;
    color: #fff;
    padding: 10px;
    display: block;
    margin: 0;
    margin-top: 0px;
    border: 1px solid #fff;
    height: 18px;
    width: 40px;
    position: relative;
}
 .top,.middle,.bottom{
        position: absolute;
        background: white;
         height: 5px;
         width: 30px;
         cursor: pointer;
    }
    .top{
         top: 3px;
         margin-left: 5px;
    }
    .middle{
         bottom:19px;
         margin-left: 5px;
    }
    .bottom{ bottom:5px;
             margin-left: 5px;
    }
input[type="checkbox"].on-off{
    display: none;
}


ul {
    transition: .3s ease-in-out;
    -webkit-transform: translateY(0%);
    margin: 0;
    padding: 0;
    list-style: none;
    
}

li {
    background: yellow;
    height: 200px;
    width: 479px;
    padding: 5px;
    border: solid;
    float: none;
    margin-left: 0;
}

input[type="checkbox"].on-off + .nav ul{
    height: 0;
    overflow: hidden;
}

input[type="checkbox"].on-off:checked + .nav ul{
    height: auto;
}
    
.maingazo{
          margin-top: 0px;
          width: 479px;
        
          
}
}
